.container {
  display: block;
  width: 600px;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}
.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.24;
  text-align: center;
  color: grey;
}
